@import url(./common.less);
@import url('./index.less');

.admin-wrapper{
    .wrapper();
    #table-wrapper{
        width: 410px;
        padding: 20px;
        .table-header{
            border-bottom: 1px solid @font-color;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        .table-main{
            border-bottom: 1px dotted @font-color;
            padding-bottom: 10px;
            margin-bottom: 10px;
            .edit-btn{
                #common-btn();
                width: 60px;
                height: 25px;
                margin-right: 15px;
            }
            .del-btn{
                .edit-btn();
                margin-right: -15px;
            }
            button:hover{
                opacity: 0.7;
            }
        }
        .i-width{
            display: inline-block;
            width: 80px;
            text-align: center;
        }
        .l-width{
            display: inline-block;
            width: 160px;
            text-align: center;
        }
    }
    #fp-container{
        padding-left: 40px;
        .fp-head{
            margin-bottom: 25px;
            .fp-select{
                width: 100px;
                height: 30px;
                margin-left: 20px;
                text-indent: 10px;
                border: 0;
                background-color: orange;
                &::placeholder{
                    text-align: center;
                    background-color: orange;
                    color: #FFF;
                }
            }
        }
        .fp-table-wrap{
            .i-width{
                display: inline-block;
                width: 80px;
                text-align: center;
            }
            input.i-width{
                width: 70px;
                margin: 0 5px;
                background-color: #CCC;
                border-color: transparent;
            }
            .fp-table-header{
                width: 460px;
                border-bottom: 1px solid @font-color;
                padding: 10px;
                margin-bottom: 20px;
            }
            .fp-table-item{
                width: 480px;
                padding-bottom: 15px;
                margin-bottom: 10px;
                border-bottom: 1px dotted @font-color;
                .fp-del-btn{
                    .fp-common-btn();
                    background: url(../img/del.png);
                    &:hover{
                        opacity: .7;
                    } 
                }
                .fp-add-btn{
                    .fp-common-btn();
                    background: url(../img/add.png);
                    &:hover{
                        opacity: .7;
                    } 
                }
            }
        }
        .fp-btns-wrap{
            margin-top: 35px;
            text-align: right;
            width: 480px;
            button{
                #common-btn();
                width: 80px;
                height: 25px;
                &:hover{
                    color: @font-color;
                    opacity: .7;
                }
            }
        }
    }
    #fs-table-wraper{
        padding-left: 40px;
        width: 480px;
        .fs-table-flex{
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            margin-bottom: 15px;
            span{
                flex: 1 0 20%;
                text-align: center;
            }
        }
        .fs-table-head{
            .fs-table-flex();
            width: 100%;
            border-bottom: 1px solid @font-color;
        }
        .fs-table-contain{
            .fs-table-flex();
            width: 100%;
            border-bottom: 1px dotted @font-color;
            .fs-table-del{
                .fp-common-btn();
                background: url(../img/del.png);
                background-repeat: no-repeat;
                margin-left: 30px;
                &:hover{
                    opacity: .7;
                } 
            }
        }
        .fs-add-btn{
            text-align: right;
            button{
                #common-btn();
                width: 60px;
                height: 25px;
                &:hover{
                    opacity: .7;
                }
            }
        }
    }
    .fs-add-window{
        background: rgba(128,128,128, .8);
        width: 480px;
        padding: 50px 20px;
        margin-left: 40px;
        margin-top: 80px;
        border-radius: 15px;
        input{
            #common-input();
            width: 80px;
            height: 20px;
            background: #CCC;
        }
        button{
            #common-btn();
            width: 40px;
            height: 20px;
            margin-left: 15px;
            &:hover{
                opacity: .7;
            }
        }
    }
    .um-wrapper{
        padding-left: 40px;
        width: 480px;
        .um-table{
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            margin-bottom: 15px;
            .um-head-item{
                flex: 0 0 15%;
                text-align: center;
            }
            .um-head-pass{
                flex: 0 0 35%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap; 
                text-align: center;
            }
        }
        .um-table-head{
            border-bottom: 1px solid @font-color;
        }
        .um-table-main{
            border-bottom: 1px dotted @font-color;
        }
    }

}