@bg-img: url(../img/bg.jpg);
@theme-color: orange;
@font-color: #333;
@bg-color: #CCC;
#common-border{
    border: 0;
    border-radius: 5px;
}
#common-btn{
    #common-border();
    background-color: @theme-color;
    color: #Fff;
}
#common-input{
    #common-border();
}