@import url(./common.less);

.wrapper{
    display: flex;
    flex-wrap: wrap;
    color: @font-color;
    font-family: 楷体;
    font-size: 18px;
    background: @bg-img;
    background-size: 100% 100%;
    h4{
        flex: 1 0 100%;
        text-align: center;
        height: 50px;
        line-height: 50px;
        padding: 15px 0;
        font-weight: bolder;
    }
    .left-nav{
        flex: 0 0 100%;
        background-color: @bg-color;
        padding: 20px 0;
        padding-left: 10%;
        border-bottom: 1px solid #333;
        li{ 
            float: left;
            text-align: center;
            padding-bottom: 5px;
            margin-right: 30px;
            &.navActive{
                border-bottom: 2px solid @theme-color;
            }
        }
    }
    .router-view{
        flex: 1 0 80%;
        padding: 40px;
        .p-container{
            .drop-warpper{
                width: 150px;
                text-align: center;
            }
            #p-note{
                display: inline-block;
                height: 30px;
                margin-right: 40px;
                #common-input();
                &::placeholder{
                    text-indent: 5px;
                }
            }
            .btn-submit{
                #common-btn();
                width: 80px;
                height: 30px;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
        .f-container{
            .f-container-head, .f-container-body{
                width: 500px;
                display: flex;
                justify-content: space-between;
                input{
                    width: 40px;
                }
            }
            .f-container-head{
                padding-bottom: 15px;
                border-bottom: 1px solid #666;
            }
            .f-container-body{
                margin-top: 20px;
                padding-bottom: 15px;
                border-bottom: 1px dotted #666;
            }
            .f-container-btns{
                width: 500px;
                text-align: right;
                button{
                    border: 0;
                    background-color: orange;
                    margin-top: 15px;
                    color: #FFF;
                }
            }
        }
        .t-container{
            width: 500px;
            .t-item{
                display: inline-block;
                width: 120px;
                text-align: center;
            }
            .t-item-do{
                display: inline-block;
            }
            .t-item-do-r{
                width: 45px;
                padding-right: 15px;
                text-align: right;
            }
            .t-container-head{
                padding-bottom: 15px;
                border-bottom: 1px solid #333;
            }
            .t-container-body{
                margin-top: 20px;
                padding-bottom: 15px;
                border-bottom: 1px dotted #ccc;
            }
            .t-container-btns{
                width: 500px;
                margin-top: 20px;
                text-align: right;
                button{
                    border: 0;
                    background-color: orange;
                    color: #FFF;
                    border-radius: 5px;
                }
            }
            #form-task{
                display: flex;
                flex-direction: column;
                width: 500px;
                .one-wrap,.two-wrap{
                    span,div{
                        display: block;
                        margin: 10px 0;
                    }
                }
                .btn-produce{
                    #common-btn();
                    flex: 0 1 30px;
                    width: 200px;
                    background-color: #333;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
            #task-list{
                button{
                    #common-btn();
                    width: 80px;
                    height: 30px;
                    margin-right: 30px;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}