html{
    background-image: url(../img/login_bg.jpg);
    background-size: 100% 100%;
    font-size: 18px;
    font-family: 宋体;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin: 10px 0;
}
button{
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
}
button:hover{
    background-color: #333;
    color: #FFF;
}
#form-div{
    display: flex;
    justify-content: center;
    align-items: center;
}