#common-border {
  border: 0;
  border-radius: 5px;
}
#common-btn {
  border: 0;
  border-radius: 5px;
  background-color: orange;
  color: #Fff;
}
#footer-btn {
  display: block;
  float: right;
  width: 60px;
  height: 25px;
}
#common-input {
  border: 0;
  border-radius: 5px;
}
.fp-common-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-left: 3px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  color: #333;
  font-family: 楷体;
  font-size: 18px;
  background: url(../img/bg.jpg);
  background-size: 100% 100%;
}
.wrapper h4 {
  flex: 1 0 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  padding: 15px 0;
  font-weight: bolder;
}
.wrapper .left-nav {
  flex: 0 0 100%;
  background-color: #CCC;
  padding: 20px 0;
  padding-left: 10%;
  border-bottom: 1px solid #333;
}
.wrapper .left-nav li {
  float: left;
  text-align: center;
  padding-bottom: 5px;
  margin-right: 30px;
}
.wrapper .left-nav li.navActive {
  border-bottom: 2px solid orange;
}
.wrapper .router-view {
  flex: 1 0 80%;
  padding: 40px;
}
.wrapper .router-view .p-container .drop-warpper {
  width: 150px;
  text-align: center;
}
.wrapper .router-view .p-container #p-note {
  display: inline-block;
  height: 30px;
  margin-right: 40px;
  border: 0;
  border-radius: 5px;
}
.wrapper .router-view .p-container #p-note::placeholder {
  text-indent: 5px;
}
.wrapper .router-view .p-container .btn-submit {
  border: 0;
  border-radius: 5px;
  background-color: orange;
  color: #Fff;
  width: 80px;
  height: 30px;
}
.wrapper .router-view .p-container .btn-submit:hover {
  opacity: 0.7;
}
.wrapper .router-view .f-container .f-container-head,
.wrapper .router-view .f-container .f-container-body {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.wrapper .router-view .f-container .f-container-head input,
.wrapper .router-view .f-container .f-container-body input {
  width: 40px;
}
.wrapper .router-view .f-container .f-container-head {
  padding-bottom: 15px;
  border-bottom: 1px solid #666;
}
.wrapper .router-view .f-container .f-container-body {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #666;
}
.wrapper .router-view .f-container .f-container-btns {
  width: 500px;
  text-align: right;
}
.wrapper .router-view .f-container .f-container-btns button {
  border: 0;
  background-color: orange;
  margin-top: 15px;
  color: #FFF;
}
.wrapper .router-view .t-container {
  width: 500px;
}
.wrapper .router-view .t-container .t-item {
  display: inline-block;
  width: 120px;
  text-align: center;
}
.wrapper .router-view .t-container .t-item-do {
  display: inline-block;
}
.wrapper .router-view .t-container .t-item-do-r {
  width: 45px;
  padding-right: 15px;
  text-align: right;
}
.wrapper .router-view .t-container .t-container-head {
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}
.wrapper .router-view .t-container .t-container-body {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #ccc;
}
.wrapper .router-view .t-container .t-container-btns {
  width: 500px;
  margin-top: 20px;
  text-align: right;
}
.wrapper .router-view .t-container .t-container-btns button {
  border: 0;
  background-color: orange;
  color: #FFF;
  border-radius: 5px;
}
.wrapper .router-view .t-container #form-task {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.wrapper .router-view .t-container #form-task .one-wrap span,
.wrapper .router-view .t-container #form-task .two-wrap span,
.wrapper .router-view .t-container #form-task .one-wrap div,
.wrapper .router-view .t-container #form-task .two-wrap div {
  display: block;
  margin: 10px 0;
}
.wrapper .router-view .t-container #form-task .btn-produce {
  border: 0;
  border-radius: 5px;
  background-color: orange;
  color: #Fff;
  flex: 0 1 30px;
  width: 200px;
  background-color: #333;
  margin-top: 15px;
  margin-bottom: 20px;
}
.wrapper .router-view .t-container #form-task .btn-produce:hover {
  opacity: 0.7;
}
.wrapper .router-view .t-container #task-list button {
  border: 0;
  border-radius: 5px;
  background-color: orange;
  color: #Fff;
  width: 80px;
  height: 30px;
  margin-right: 30px;
}
.wrapper .router-view .t-container #task-list button:hover {
  opacity: 0.7;
}
