<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>管理员主界面</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/adminIndex.css" />
    <script src="../static/js/url.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="../static/js/templatesA.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
        <div class="admin-wrapper">
            <h4>华农猪场饲料管理系统</h4>
            <ul class="left-nav">
                <li v-bind:class="{navActive : navIndex==1 ? true : false}" @click="navIndex = 1" >
                <router-link :to="{ name: 'feedReserve' }" >饲料属性</router-link></li>
                <li v-bind:class="{navActive : navIndex==2 ? true : false}" @click="navIndex = 2">
                <router-link to="/feedProvice">饲料发放</router-link></li>
                <li v-bind:class="{navActive : navIndex==3 ? true : false}" @click="navIndex = 3">
                <router-link to="/feedStore">饲料储量</router-link></li>
                <li v-bind:class="{navActive : navIndex==4 ? true : false}" @click="navIndex = 4">
                <router-link to="/userMes">用户信息</router-link></li>
                <li v-bind:class="{navActive : navIndex==5 ? true : false}" @click="navIndex = 5">
                <router-link to="/history">历史记录</router-link></li>
                <li v-bind:class="{navActive : navIndex==6 ? true : false}" @click="navIndex = 6">
                <router-link to="/infoCount">信息统计</router-link></li>
                <li v-bind:class="{navActive : navIndex==7 ? true : false}" @click="navIndex = 7">
                <router-link to="/exit">退出系统</router-link></li>
            </ul>
            <router-view class="router-view"></router-view>
        </div>
    </div>

<script src="../static/js/adminIndex.js"></script> 
</body>
</html>