<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>管理员主界面</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>

<h2 class="header">华农猪场饲料管理系统</h2>
<div class="container">
    <input type="button" value="用户管理" name="user-management" onclick="{window.location.href='/adminUserManagement.html'}"/>
    <input type="button" value="饲料管理" name="forage-management" onclick="{window.location.href='/adminForageManagement.html'}"/>
    <input type="button" value="饲料领取管理" name="forage-gain-management" onclick="{window.location.href='/adminForageGainManagement.html'}"/>
    <input type="button" value="退出系统" name="exit" onclick="{window.location.href='/adminLogin.html'}"/>
</div>
</body>

</html>