<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>饲料领取界面</title>
    <link rel="stylesheet" href="/css/foragegain.css" />
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        function forageGainSave() {
            $.ajax({
                type:"POST",
                dataType: "json",
                url:"/forageGainSave",
                data: $('#form-foragegain').serialize(),
                success:function (result) {
                    alert(result);
                    window.location.href='/index.html';
                },
                error:function () {
                    alert("fail!");
                }
            })
        }
    </script>
</head>


<body>

<h4>请选择饲料领取室</h4>
<div id="form-div">
    <form id="form-foragegain">
        <input type="radio" name="forageRoom" value="1" id="forageRoom" />
        <label for="forageRoom">1号饲料室</label>
        <br/>
        <input type="radio" name="forageRoom" value="2" id="forageRoom2" />
        <label for="forageRoom2">2号饲料室</label>
        <br/>
        <button id="btn-submit" type="button" class="btn-submit" onclick="forageGainSave()">提交</button>
    </form>
</div>

</body>
</html>