<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>饲养员主界面</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="../static/js/index.js" defer></script>
    <script src="../static/js/templates.js" defer></script>
</head>
<body>
    <div id="app">
        <div class="wrapper">
            <h4>华农猪场饲料管理系统</h4>
            <ul class="left-nav">
                <li v-bind:class="{navActive : navIndex==1 ? true : false}" @click="navIndex = 1">
                <router-link to="/problem">问题反馈</router-link></li>
                <li v-bind:class="{navActive : navIndex==2 ? true : false}" @click="navIndex = 2">
                <router-link to="/foragegain">领取饲料</router-link></li>
                <li v-bind:class="{navActive : navIndex==3 ? true : false}" @click="navIndex = 3">
                <router-link to="/feedtask">喂食任务</router-link></li>
                <li v-bind:class="{navActive : navIndex==4 ? true : false}" @click="navIndex = 4">
                <router-link to="/exit">退出系统</router-link></li>
            </ul>
            <router-view class="router-view"></router-view>
        </div>
    </div>
</body>
</html>