<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>饲养员主界面</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<h2 class="header">华农猪场饲料管理系统</h2>
<div class="container">
<input type="button" value="问题反馈" name="problem" onclick="{window.location.href='/problem.html'}"/>
<input type="button" value="领取饲料" name="foragegain" onclick="{window.location.href='/foragegain.html'}"/>
<input type="button" value="喂食任务" name="feedtask" onclick="{window.location.href='/feedtask.html'}"/>
<input type="button" value="退出系统" name="exit" onclick="{window.location.href='/login.html'}"/>
    <input type="button" value="退出系统" name="exit" onclick="{window.location.href='/login.html'}"/>
</div>
</body>
</html>