<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>登录页面</title>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
    <script src="http://malsup.github.io/jquery.form.js" type="text/javascript"></script>
    <script src="/js/url.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
<h2 class="header">华农猪场饲料管理系统</h2>
<div class="container">
    <div class="login_part">
        <div role="form" class="login" id="formLogin"  >
            <input type="text" class="form-control" id="username" name="username" placeholder="用户名" />
            <input type="password" class="form-control" id="password" name="password" placeholder="密码" />
            <button  class="btn-submit" id="btn-login">登录</button>
        </div>
    </div>
</div>
</body>
</html>