<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>test</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="/js/index.js" defer="true"></script>
    <script src="/js/templates.js" defer="true"></script>
</head>
<body>
test
<ul>
    <li v-bind:class="{navActive : navIndex==1 ? true : false}" @click="navIndex = 1">
        test0
    </li>
</ul>
</body>
</html>